<!-- Template for adding a contact. -->
			
<form class="form-horizontal" id="add_contact_template" name="add_contact_template">
<fieldset>

<!-- Form Name -->


<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="contact_first_name">First Name</label>
  <div class="controls">
    <input id="contact_first_name" name="contact_first_name" type="text" placeholder="Place a name here..." class="input-medium" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="contact_Email">Email</label>
  <div class="controls">
    <input id="contact_Email" name="contact_Email" type="text" placeholder="Second name here..." class="input-medium">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="contact_tel">Telephone</label>
  <div class="controls">
    <input id="contact_tel" name="contact_tel" type="text" placeholder="Telephone nr here..." class="input-medium">
    
  </div>
</div>

<!-- Select Basic -->
<div class="control-group">
  <label class="control-label" for="contact_klootfactor">Kloot Factor</label>
  <div class="controls">
    <select id="contact_klootfactor" name="contact_klootfactor" class="input-small">
      <option>3x</option>
      <option>5x</option>
      <option>12.7x</option>
      <option>50x</option>
      <option>75x</option>
      <option>120000x</option>
    </select>
  </div>
</div>

<!-- Multiple Checkboxes (inline) -->
<div class="control-group">
  <label class="control-label" for="gender">Gender</label>
  <div class="controls">
    <label class="checkbox inline" for="gender-0">
      <input type="checkbox" name="gender" id="gender-0" value="Male">
      Male
    </label>
    <label class="checkbox inline" for="gender-1">
      <input type="checkbox" name="gender" id="gender-1" value="Female">
      Female
    </label>
  </div>
</div>

<!-- Button (Double) -->
<div class="control-group">
  <label class="control-label" for="save_contact">Action</label>
  <div class="controls">
    <button id="save_contact" name="save_contact" class="btn btn-success">Save</button>
    <button id="cancel_contact" name="cancel_contact" class="btn btn-danger">Cancel</button>
  </div>
</div>

</fieldset>
</form>

<!-- / Template for adding a contact. -->