{% for car in cars %}
	<div class="modal fade" id="basicModal{{car.key.id()}}" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>
            	<h4 class="modal-title" id="myModalLabel">Edit Car</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
				  <span class="input-group-addon" id="basic-addon1">Name</span>
				  <input type="text" class="form-control" id="editcar_name_{{car.key.id()}}" placeholder="{{car.name}}" aria-describedby="basic-addon1">
				</div>			
				<div class="input-group">
				  <span class="input-group-addon">Brand</span>
				  <input type="text" class="form-control" id="editcar_brand_{{car.key.id()}}" placeholder="{{car.brand}}" aria-label="Amount (to the nearest dollar)">
				</div>
            </div>
            <div class="modal-footer">
                <button type="button" id="close_btn" garage_id="{{car.garage.id()}}" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button"  car_id="{{car.key.id()}}" garage_id="{{car.garage.id()}}" id="testthis" class="btn btn-primary">Save changes</button>
        	</div>
    	</div>
  	</div>
	</div>
	<div class="col-sm-3" style="margin-top:15px;">
		<div class="panel panel-info">
			<div class="panel-heading">
			<button id="disp_car_page_btn"  name="disp_car_page_btn" cid="{{car.key.id()}}"> ID:{{ car.key.id() }}</button>
			</div>
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item"><b>Type :</b> {{car.name}}</li> 
					<li class="list-group-item"><b>brand :</b>{{car.brand}}</li>
					<li class="list-group-item"><b>Upload avatar</b><button id="avatar_btn" name="avatar_btn" car_id="{{car.key.id()}}">Upload</button></li>
				</ul>	
			</div>
			<div class="panel-footer">
				<span style="margin-left: 25%;">
					<div class="btn-group">
						<a href="#" data-toggle="modal" data-target="#basicModal{{car.key.id()}}" class="btn btn-small btn-info btnedit"  car_id="{{car.key.id()}}" id="{{car.key.id()}}">Edit</a>
						<button class="btn btn-small btn-danger del_car_btn"  car_id="{{car.key.id()}}" garage-id="{{car.garage.id()}}">Delete</button> 
						<!-- <button class="btn btn-small btn-success btntest"  car_id="{{car.key.id()}}" id="{{car.key.id()}}">Press Me</button>	 -->
					</div>
				</span>
			</div>
		</div>
	</div>
{% endfor %}