{% extends "garage_temp_profile.html" %}
{% block content %}


<h3>Cars from garage</h3>
<br>
<div class="container">
	{% for car in cars %}
		<div class="row">
			<div class="col-sm-4 col-md-4 user-details">
	            <div class="user-image">
	                <img src="http://images.automobilemag.com/auto_shows/2007_geneva/0703_z+2007_koenigsegg_ccx+profile.jpg" alt="Car profile picture should be here" title="Karan Singh Sisodia" class="img-circle">
	            </div>
	            <div class="user-info-block">
	                <div class="user-heading">
	                    <a href="car_profile"{{car.key.id()}}><h3>{{car.name}}</h3></a>
	                    <span class="help-block">{{car.brand}}</span>
	                </div>
	                <ul class="navigation">
	                    <li class="active">
	                        <a data-toggle="tab" href="#information">
	                            <span class="glyphicon glyphicon-user"></span>
	                        </a>
	                    </li>
	                    <li>
	                        <a data-toggle="tab" href="#settings">
	                            <span class="glyphicon glyphicon-cog"></span>
	                        </a>
	                    </li>
	                    <li>
	                        <a data-toggle="tab" href="#email">
	                            <span class="glyphicon glyphicon-envelope"></span>
	                        </a>
	                    </li>
	                    <li>
	                        <a data-toggle="tab" href="#events">
	                            <span class="glyphicon glyphicon-calendar"></span>
	                        </a>
	                    </li>
	                </ul>
	                <div class="user-body">
	                    <div class="tab-content">
	                        <div id="information" class="tab-pane active">
	                            <h4>Car information</h4>
	                            <span id="car_garage">{{car.garage}}</span>
	                        </div>
	                        <div id="settings" class="tab-pane">
	                            <h4>Variations</h4>
	                        </div>
	                        <div id="email" class="tab-pane">
	                            <h4>Shipments</h4>
	                        </div>
	                        <div id="events" class="tab-pane">
	                            <h4>Prices</h4>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
		</div>
	{% endfor %}
</div>
{% endblock %}